[user]
	name = Kye Davey
	email = kye.j.davey@gmail.com
[init]
	defaultBranch = main
[pull]
	rebase = false
[color]
	ui = auto
[core]
	editor = code --wait
[alias]
  co = checkout
  br = branch
  ci = commit
  st = status